.navbar-inverse{
    margin-bottom: 0px;
}

.line{
    height: 5px;
}

.panel-body{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.panel-body img {
    margin-bottom: .3em;
    width: 100%;
}

span.label,span.label-danger{
    padding: .3em;
}

.footer{
    height: 50px;
    background:#101010;
    border-radius: 5px;
    color: white;
    padding: 0px 15px;
    line-height: 50px;
}